body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #f1f1f1;
    font-size: 16px;
}

/* Header Styles */
header {
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    background-color: #0288D1;
    text-align: left;
    padding: 24px 24px 0;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

header a {
    text-decoration: none;
    color: #efefef;
}

header a .headline {
    display: block;
    font-size: 48px;
    font-weight: 400;
    line-height:1;
}

/* Social Media Aside */
aside {
    position: absolute;
    right: 24px;
    top: 24px;
    text-align: right;
}

aside .menu-icon {
    height: 32px;
    width: 32px;
    display: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/menu.png");
}

aside .social-links {
    display: block;
}

aside a {
    padding: 4px;
    display:inline-block;
}

aside a img {
    height: 32px;
    width: auto;
    vertical-align: middle;
}

/* Navigation */
nav {
    width: 100%;
    text-align: left;
    background: #0288D1;
    white-space: nowrap;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: #efefef;
    display: inline-block;
    margin: 16px 0 3px;
    padding: 4px 16px;
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
    width: auto;
    text-align:center;
}

nav a.active,
nav a.active:hover {
    box-shadow: 0 3px 0 #F57C00;
}

nav a:hover {
    box-shadow: 0 3px 0 #efefef;
}

/* Main Content */
main {
    position: relative;
    background: #f1f1f1;
}

.content {
    position: absolute;
    top: 48px;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 800px;
}

.box {
    display: block;
    width: 98%;
    margin: 0 1% 8px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, .2);
}

.half {
    display: inline-block;
    width: 48%;
}

.content h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
}

.content h1 .largetext {
    display: block;
    font-size: 48px;
    font-weight: 400;
}

.content h2 {
    margin:0;
}

.content h3 {
    display: inline-block;
    margin: 4px 5px;
}

.content h3:hover {
    box-shadow: 0 2px 0 #e5e5e5;
}

.content a {
    color: #666;
}

/* Resume Page */
#resume h3:hover {
    box-shadow: none;
}

#resume h3 {
    display:block;
    margin: 4px 0;
}

.work-experience {
    padding: 0 12px;
}

.css-switch {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: auto;
    z-index: 20;
}

/* Main Content Transition */
.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: all 400ms ease-in;
}
 
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 400ms ease-in;
}

@media (max-width: 800px) {
    body{
        background: #FFF;
    }
    
    header a .headline {
        font-size: 42px;
    }
    
    main:before {
        display:none;
    }
    
    nav a {
        font-size: 18px;
    }
    
    main {
        background: #fff;
    }
    
    .content {
        top: 0;
    }
    
    .box {
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none
    }
}

@media only screen and (max-width: 640px) {
    aside .social-links {
        display: inline-block;
    }
    
    aside .menu-icon {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .content h1 {
        line-height: 1.4;
        font-size: 32px;
    }
    
    .content h1 .largetext {
        font-size: 42px;
    }
    
    .content h2 {
        font-size: 21px;
    }
    
    aside .menu-icon {
        display: inline-block;
    }
    
    aside .social-links {
        display: none;
        background: rgba(0,0,0,.4);
        box-shadow: 0 4px 8px rgba(0,0,0,.2);
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 8px 4px;
        border-radius: 16px;
    }
}

@media only screen and (max-width: 500px) {
    header a .headline {
        font-size: 36px;
    }

    nav a {
        font-size: 14px;
        margin: 16px 0 2px;
    }
    
    box {
        padding: 12px;
    }
}

@media only screen and (max-width: 360px) {
    header {
        padding: 12px 12px 0;
    }    
    
    aside {
        top: 12px;
        right: 12px;
    }
    
    .content h1 {
        line-height: 1.4;
        font-size: 28px;
    }
    
    .content h1 .largetext {
        font-size: 36px;
    }
    
    .content h2 {
        font-size: 18px;
    }
    
    nav a {
        padding: 4px 12px;
    }
}