@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
    background: #efefef;
    color: #666;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/* Header Styles */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
}


header {
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    z-index: 10;
    background-color: #0288D1;
    line-height: 72px;
    text-align: left;
}

header a {
    text-decoration: none;
    color: #efefef;
}

header a .headline {
    display: block;
    margin-left: 24px;
    font-size: 42px;
    font-weight: 400;
    vertical-align: middle;
}


/* Social Media Aside */

aside {
    position: absolute;
    right: 24px;
    top: 0;
    text-align: right;
}

aside .menu-icon {
    display: none;
    height: 32px;
    width: 32px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/menu.png");
    vertical-align: middle;
}

aside .social-links {
    display: block;
}

aside a {
    display: inline-block;
    padding: 0 8px;
}

aside a img {
    width: auto;
    height: 32px;
    vertical-align: middle;
}


/* Navigation */

nav {
    width: 230px;
    height: calc(100vh - 72px);
    padding: 16px 0;
    background: #fafafa;
    line-height: 44px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

nav a {
    display: block;
    width: auto;
    box-sizing: border-box;
    margin: 0 8px;
    padding: 0 12px;
    color: #555;
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
}

/* Main Content */

.main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

main {
    position: relative;
    background: #f1f1f1;
    width: calc(100% - 230px);
}

.box {
    display: block;
    width: 100%;
    margin: 0 0 16px;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, .2);
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
}

.half {
    display: inline-block;
    width: 50%;
}

.content {
    position: absolute;
    top: 32px;
    right: 32px;
    left: 32px;
    margin: 0 auto;
}

.content h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
}

.content h1 .largetext {
    display: block;
    font-size: 48px;
    font-weight: 400;
}

.content h2 {
    margin: 0;
}

.content h3 {
    margin: 4px 5px;
    font-size: 18px;
    text-decoration: underline;
}

.content a {
    color: #666;
}

.component-image {
    position: relative;
    width: 100%;
    height: 260px;
    margin: 0;
    padding: 0;
    background-color: #191919;
    background-image: url(../images/consummatebro.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.component-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, .75);
}

.component-image h1 {
    position: absolute;
    bottom: 16px;
    left: 32px;
    right: 32px;
    color: #FFF;
    font-size: 42px;
    z-index: 2;
}

#home .box {
    padding: 0;
}

.blurb {
    margin: 0;
    font-size: 21px;
}

.blurb p {
    margin: 0;
    padding: 32px;
    border-bottom: 1px solid #d5d5d5;
}

.home-buttons {
    text-align: right;
}

a.home-btn {
    display: inline-block;
    margin: 16px 32px;
    color: #0288D1;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

/* Resume Page */

.work-experience {
    padding: 0 12px;
}


/* Main Content Transition */

.slide-enter {
    position: absolute;
    transition-duration: .4s;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    opacity: 0;
    z-index: 10;
}

.slide-enter.slide-enter-active {
    opacity: 1;
}

.slide-leave {
    position: absolute;
    transition-duration: .4s;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    opacity: 1;
}

.slide-leave.slide-leave-active {
    opacity: 0;
}

@media (max-width: 1000px) {
    .main {
        display: block;
    }
    
    nav {
        display: block;
        width: 100%;
        height: auto;
    }
    
    nav a {
        display: inline-block;
    }
    
    main {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .component-image {
        height: 200px;
    }
    
    nav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 640px) {
    aside .social-links {
        display: inline-block;
    }
    
    aside .menu-icon {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .component-image {
        height: 180px;
    }
    
    aside .menu-icon {
        display: inline-block;
    }
    
    aside .social-links {
        display: none;
        background: rgba(0, 0, 0, .6);
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
        position: relative;
        z-index: 20;
        text-align: center;
        padding: 8px 4px;
        border-radius: 16px;
    }
    
    .half {
        display: block;
        width: 100%;
    }
    
    .content {
        top: 16px;
        right: 16px;
        left: 16px;
    }
    
    .content h1 {
        line-height: 1.4;
        font-size: 32px;
    }
    
    .content h1 .largetext {
        font-size: 42px;
    }
    
    .content h2 {
        font-size: 21px;
    }
}

@media only screen and (max-width: 500px) {
    header a .headline {
        font-size: 36px;
    }
    
    nav a {
        font-size: 16px;
        margin: 0px 4px;
        padding: 0 8px;
    }
    
    .box {
        padding: 24px;
    }
}

@media only screen and (max-width: 360px) {
    header a .headline {
        font-size: 32px;
    }    
    
    .component-image h1 {
        font-size: 36px;
    }
    
    .blurb {
        font-size: 19px;
    }
    
    .content {
        top: 8px;
        right: 8px;
        left: 8px;
    }
    
    .content h1 {
        line-height: 1.4;
        font-size: 28px;
    }
    
    .content h1 .largetext {
        font-size: 36px;
    }
    
    .content h2 {
        font-size: 18px;
    }
    
    .box {
        padding: 16px;
    }
}
